@{
    ViewBag.Title = "User";
}
@*@model Common.DTO.Result<List<Model.User>>*@

@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Model.User>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="container">

    <p>
        <a class="btn btn-default" href="@Url.Action("info")">Info</a>
    </p>
    <table class="table table-hover">
        <caption>查询不到记录</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>手机号码</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserName</td>
                        <td>@item.RealName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>...</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("index", new { page }))

    @*<div class="text-center">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>*@
</div>